/* ==========================================================================     
      EN VERSION - MAIN
   ========================================================================== */

@media screen and (min-width: 768px)
{
    .box
    {
        padding: 10px 50px 0 40px;
    }

    .navbar-default .navbar-nav > li > a {
	    font-size: 18px;
	}

	.navbar-default .navbar-nav > li > a:hover {
	    font-size: 19px;
	}
}
